html{
    min-height: 100%;
    overflow: hidden;
}

body{
    color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
}

.container{
    display: inline-block;
    margin: 20%;
}

.text{
    font-weight: 900;
    font-size: x-large;
    overflow: hidden;
    border-right: 3px solid orange;
    white-space: nowrap;
    animation: typing 4s steps(80,end) infinite;
}

@keyframes typing{
    from{
        width: 0%;
    }

    to{
        width: 100%;
    }
}